.bgcolor{
  background-image: url(https://png.pngtree.com/background/20210709/original/pngtree-clothing-store-window-cartoon-background-picture-image_964485.jpg);
  background-size: cover;
}
.product-title{
  text-align: center;
}
